<div class="container-fluid">
    <div class="row mt-3 mb-0">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary w-100 mb-2" *ngFor="let tickerSymbol of tickerValues"
                [ngClass]="{'active': tickerSymbol === ticker }"
                (click)="onSelectTicker(tickerSymbol, true)">{{tickerSymbol}}</button>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">Average High</th>
                    <th scope="col" class="text-center">Best Buy Day</th>
                    <th scope="col" class="text-center">Best Sell Day</th>
                    <th scope="col" class="text-center">Reset Chart</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">
                        <span class="form-check form-switch center-checkbox">
                            <input class="form-check-input custom-control-input" type="checkbox" id="avgLineToggleId"
                                (click)="controlAvgLine()">
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="form-check form-switch center-checkbox">
                            <input class="form-check-input custom-control-input" type="checkbox"
                                id="bestBuyLineToggleId" (click)="controlBestBuyLine()">
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="form-check form-switch center-checkbox">
                            <input class="form-check-input custom-control-input" type="checkbox"
                                id="bestSellLineToggleId" (click)="controlBestSellLine()">
                        </span>
                    </td>
                    <td class="text-center">
                        <span>
                            <button class="btn btn-danger" (click)="resetChart()">Reset</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div>
            <h3><span>{{ticker}}</span> Daily Stock Price</h3>
            <h5>2018 - 2022</h5>
            <div class="chart-box"><canvas id="line-chart"></canvas></div>
        </div>
        <hr>

        <div *ngIf="statsCalculated">
            <h4>Performance Stats</h4>
            <table class="table bottom-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Ticker</th>
                        <th scope="col">Average High</th>
                        <th scope="col">Best Day to Buy</th>
                        <th scope="col">Buy</th>
                        <th scope="col">Best Day to Sell</th>
                        <th scope="col">Sell</th>
                        <th scope="col">Profit per Share</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{ ticker }}</th>
                        <td>${{ avgHigh | number: '1.0-0' }}</td>
                        <td>{{ bestBuyData?.Date }}</td>
                        <td>${{ minHighData?.High | number: '1.0-0'}}</td>
                        <td>{{ bestSellData?.Date }}</td>
                        <td>${{ maxHighData?.High | number: '1.0-0'}}</td>
                        <td>${{ profit | number: '1.0-0'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>